extends typescript

snippet svelte "Svelte boilerplate"
<script lang="ts">
	let message = 'Title'
</script>

<svelte:head>
	<title>Title</title>
</svelte:head>

<h1>{message}</h1>

<style>
</style>
endsnippet
