snippet try "try/catch"
try {
	${1}
} catch (err) {
	${2:console.error(err)}
}
endsnippet

snippet import "import"
import ${2:module} from '${1:packageName}'
endsnippet

snippet gql "gql"
import { gql } from '@apollo/client'

export default gql\`
	${1:query} ${2:Alias} ${3:(variables)} {
		{$4}
	}
\`
endsnippet

snippet log "log"
console.log(${1})
endsnippet

snippet ../ "import parent" i
../../
endsnippet
